<% provide(:title, 'Acerca') %>        
        <div class="wrapper banner banner-about">
            <%= render 'layouts/menu' %>
            
            <div class="row">
                <div class="large-12 medium-12 small-12 columns title-banner disable-select">
                    <span><h1>Acerca de Nosotros</h1></span>
                </div>
            </div>
                        
        </div>
        <div class="or-spacer">
            <div class="mask"></div>
            <span><i class="fi-torso-business"></i></span>
        </div>
        
        <section class="wrapper">
            <div class="row about-content disable-select">
                <div class="large-12 medium-12 small-12 columns">
                    <div class="large-4 medium-4 small-12 columns">
                        <i class="fi-laptop"></i>
                        <i class="fi-monitor"></i>
                    </div>
                    <div class="large-8 medium-8 small-12 large-centered columns">
                        <p><b>iX Global c.a.</b> es una empresa dedicada a los servicios de consultoría informática, venta de equipos y accesorios tecnológicos. Esta empresa inicia sus operaciones el <span>06 de Junio de 2004</span> y se encuentra ubicada en <span id="city">Maracay</span>, Municipio Girardot,  del estado Aragua, Venezuela.</p>
                    </div>
                </div>
                <hr class="separator-content">
                <div class="large-12 medium-12 small-12 columns">
                    <div class="large-5 medium-12 small-12 large-push-7 columns">
                        <img src="/assets/laptop2.png" class="laptop">
                    </div>
                    <div class="large-7 medium-12 small-12 large-pull-5 vision columns">
                        <p>Somos una empresa dedicada a la consultoría y comercialización de tecnología, <span>orientando la mejor solución a nuestros clientes</span>, para ello contamos con un equipo de trabajo altamente motivado y competente con una gran capacidad de adaptación a las necesidades del mercado, colocándose así como la opción principal de los empresarios responsables exitosos.</p>
                    </div>
                </div>
                <hr class="separator-content">
                <div class="large-12 medium-12 small-12 columns">
                    <div class="large-4 medium-4 small-12 small-center columns">
                        <div class="skillshare"></div>
                    </div>
                    <div class="large-8 medium-8 small-12 large-centered columns">
                        <p>Como proveedor, lo que buscamos es ser reconocidos por nuestros clientes como <span>el mejor socio de negocios</span>, inspirar confianza y credibilidad a su compañía dentro de un contexto de claridad y transparencia de una empresa con mucha experiencia en el campo de desarrollo tecnológico.</p>
                    </div>
                </div>
            </div>
        </section>
        
        <%= render 'layouts/footer' %>