---
layout: default
---

<section class="wrapper">
    {% for post in site.posts %}
        <div class="row post">
            <div class="large-3 medium-6 small-12 columns">
                {% if post.img %}
                    <img class="thumbnail" src="{{site.baseurl}}/img/{{post.img}}">
                {% endif %}
            </div>
            <div class="large-9 medium-6 small-12 columns">
                <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                <hr>
                <p>
                    <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span> - {{ post.content | strip_html | truncatewords:75 }}<a href="{{ post.url | prepend: site.baseurl }}">...Leer mas</a>
                    <br><span class="date comments-count"><a href="{{ post.url | prepend: site.baseurl }}#disqus_thread">Comentarios</a></span>
                </p>
            </div>
        </div>
        <hr>
    {% endfor %}
</section>

<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->