<footer>
    <div class="row">
        <div class="large-12 medium-12 small-12 columns ">
            <nav>
                <ul>
                    <li><a href="contact.html">Contactenos</a></li>
                    <li><a href="about.html">Acerca de Nosotros</a></li>
                    <li><a href="services.html">Nuestros servicios</a></li>
                </ul>
            </nav>
            <hr class="style-separator">
            <div class="row">
                <div class="large-8 large-centered medium-8 small-12 small-centered columns social">
                    <span class="disable-select">SIGUENOS EN</span>
                    <ul>
                        <li><a href=""><i class="fi-social-twitter"></i><p>Twitter</p></a></li>
                        <li><a href=""><i class="fi-social-facebook"></i><p>Facebook</p></a></li>
                        <li><a href=""><i class="fi-social-google-plus"></i><p>Google Plus</p></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="/assets/vendor/what-input.min.js"></script>
<script src="/assets/foundation.min.js"></script>
<script src="/assets/app.js"></script>